
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f5fa, #98d7ba);
    padding: 20px;
    background: url(./food-healthy.jpg), #000;
    
}


.container {
    width: 100%;
    max-width: 400px;
   
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    border: 1px solid rgba(139, 238, 155, 0.3);
  backdrop-filter: blur(1px);
  background-color: rgba(2, 13, 2, 0.3);
}

.icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    background-color: #e0e7ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.6rem;
    color: #faf8f8;
    margin-bottom: 10px;
}

p {
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 20px;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: rgb(149, 222, 149);
    outline: none;
    box-shadow: 0 0 5px rgba(124, 77, 255, 0.2);
}


.button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    background-color: rgb(249, 250, 249);
    border: 1px white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(149, 222, 149,0.2);
}

.resend {
    margin-top: 15px;
    color: rgb(149, 222, 149);
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: underline;
}


@media (max-width: 500px) {
    .container {
        padding: 30px 20px;
    }
    h2 {
        font-size: 1.4rem;
    }
    input[type="text"],
    input[type="password"] {
        font-size: 14px;
        padding: 10px;
    }
    .button {
        font-size: 14px;
        padding: 10px;
    }
}
